Package: pwrrpi60
Version: 6.0.1-1
Section: base
Priority: optional
Architecture: amd64
Depends: pwr60 (>= 6.0.1-1)
Replaces: pwr60
Maintainer: ProviewR <postmaster@proview.se>
Description: ProviewR RPI development package
 6.0.1-1 Base release
