Package: pwrdemo60
Version: 6.0.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: sudo, pwr60 (>= 6.0.0-1)
Maintainer: Proview <postmaster@proview.se>
Description: Proview Demo Project package
 6.0.0-1 Base release
