Source: pwrsrc
Section: devel
Package: pwr60
Priority: optional
Maintainer: ProviewR <postmaster@proview.se>
Version: 6.0.0-1
Architecture: amd64
Depends: libc6 (>= 2.35-0ubuntu3.1),
 libgtk-3-0 (>= 3.24.33-1ubuntu2),
 libasound2 (>= 1.2.6.1-1ubuntu1),
 libdb5.3 (>=5.3.28+dfsg1-0.8ubuntu3),
 libdb5.3++ (>=5.3.28+dfsg1-0.8ubuntu3),
 g++ (>= 4:11.2.0-1ubuntu1),
 libmariadb3 (>= 1:10.6.7-2ubuntu1.1),
 librabbitmq4 (>= 0.10.0-1ubuntu2),
 libusb-1.0-0 (>=2:1.0.25-1ubuntu2),
 libsqlite3-0 (>= 3.37.2-2),
 libhdf5-openmpi-103 (>=1.10.7+repack-4ubuntu2),
 librsvg2-2 (>= 2.52.5+dfsg-3),
 libgstreamer1.0-0 (>=1.20.3-0ubuntu1),
 libgstreamer-plugins-base1.0-0 (>=1.20.1-1),
 xterm,
 xfonts-100dpi
Replaces: pwrrt,pwr34,pwr39,pwr40,pwr41,pwr42,pwr43,pwr44,pwr45,pwr46,pwr47,pwr48,pwr50,pwr51,pwr52,pwr54,pwr55,pwr56,pwr57,pwr58,pwr59
Homepage: http://www.proview.se
Installed-Size: 1114020
Description: ProviewR development and runtime environment package
 6.0.0-1 Base release
