Source: pwrsrc
Section: devel
Package: pwr61
Priority: optional
Maintainer: ProviewR <postmaster@proview.se>
Version: 6.1.4-1
Architecture: amd64
Depends: libc6 (>= 2.39-0ubuntu8.1),
 libgtk-3-0t64 (>= 3.24.41-4ubuntu1.2),
 libasound2t64 (>= 1.2.11-1build2),
 libdb5.3t64 (>=5.3.28+dfsg2-7),
 libdb5.3++t64 (>=5.3.28+dfsg2-7),
 g++ (>= 4:13.2.0-7ubuntu1),
 libmariadb3 (>= 1:10.11.8-0ubuntu0.24.04.1),
 librabbitmq4 (>= 0.11.0-1build2),
 libusb-1.0-0 (>=2:1.0.27-1),
 libsqlite3-0 (>= 3.45.1-1ubuntu2),
 libhdf5-openmpi-103-1t64 (>=1.10.10+repack-3.1ubuntu4),
 librsvg2-2 (>= 2.58.0+dfsg-1build1),
 libtirpc3t64 (>= 1.3.4+ds-1.1build1),
 libgstreamer1.0-0 (>=1.24.2-1ubuntu0.1),
 libgstreamer-plugins-base1.0-0 (>=1.24.2-1ubuntu0.2),
 xterm,
 xfonts-100dpi,
 util-linux
Replaces: pwr50,pwr51,pwr52,pwr54,pwr55,pwr56,pwr57,pwr58,pwr59,pwr60
Homepage: http://www.proview.se
Installed-Size: 1114020
Description: ProviewR development and runtime environment package
 6.1.4-1 Base release
