
button { 
  margin: 0px;
  padding: 3px;
}

toolbutton button { 
  margin: 0px;
  padding: 3px;
}

browwidget * { 
  background: white;
}

#plcnavigator { 
  background-color: red;
}

#wbplant { 
  background-color: white;
  border-width: 1px;
}
#wbplant_focus { 
  background-color: lightgray;
}

#wbnode { 
  background-color: white;
  border-width: 1px;
}
/* active, hover, selected, insensitive, inconsistent, focus, backdrop */
#wbnode_focus { 
  background-color: lightgray
}

#wbpalette { 
  background-color: white;
  border-width: 1px;
}
#wbpalette_focus { 
  background-color: lightgray;
}

dialog button { 
  margin-left: 20px;
  margin-right: 20px;
  min-width: 90px;
}

#modaldialog button { 
  margin-left: 20px;
  margin-right: 20px;
  min-width: 90px;
}
#confirmdialog button { 
  margin-left: 20px;
  margin-right: 20px;
  min-width: 90px;
}

#ind_gray { 
  background-color: #d5d5d5;
}

#ind_green { 
  background-color: #50ff00;
}

#ind_yellow { 
  background-color: yellow;
}

#ind_red { 
  background-color: #ff6060;
}

#ind_darkgray { 
  background-color: #656565;
}

#ind_darkgreen { 
  background-color: #81bd00;
}

#ind_darkyellow { 
  background-color: #e1c000;
}

#ind_darkred { 
  background-color: #e10000;
}
