Package: pwrrpi59
Version: 5.9.0-2
Section: base
Priority: optional
Architecture: amd64
Depends: pwr59 (>= 5.9.0-2)
Replaces: pwr59
Maintainer: ProviewR <postmaster@proview.se>
Description: ProviewR RPI development package
 5.9.0-1 Base release
