Package: pwrrt
Version: 6.1.4-1
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.35-0ubuntu3.1),
 libgtk-3-0 (>= 3.24.33-1ubuntu2),
 libasound2 (>= 1.2.6.1-1ubuntu1),
 libdb5.3 (>=5.3.28+dfsg1-0.8ubuntu3),
 librabbitmq4 (>= 0.10.0-1ubuntu2),
 libusb-1.0-0 (>=2:1.0.25-1ubuntu2),
 libsqlite3-0 (>= 3.37.2-2),
 libhdf5-openmpi-103 (>=1.10.7+repack-4ubuntu2),
 librsvg2-2 (>= 2.52.5+dfsg-3),
 libgstreamer1.0-0 (>=1.20.3-0ubuntu1),
 libgstreamer-plugins-base1.0-0 (>=1.20.1-1),
 xterm,
 xfonts-100dpi
Replaces: pwr50,pwr51,pwr52,pwr53,pwr54,pwr55,pwr56,pwr57,pwr58,pwr59,pwr60
Maintainer: ProviewR <postmaster@proview.se>
Homepage: http://www.proview.se
Installed-Size: 955344
Description:
 6.1.4-1 Base release
