Package: pwrrt
Version: 6.1.4-2
Section: base
Priority: optional
Architecture: amd64
Depends: libc6 (>= 2.31-13+deb11u2),
 libgtk-3-0 (>= 3.24.24-4),
 libasound2 (>= 1.2.4-1.1),
 librsvg2-2 (>= 2.50.3+dfsg-1),
 libdb5.3 (>=5.3.28+dfsg1-0.8),
 librabbitmq4 (>= 0.10.0-1),
 libusb-1.0-0 (>=2:1.0.24-3),
 libsqlite3-0 (>= 3.34.1-3),
 libhdf5-openmpi-103 (>=1.10.6+repack-4+deb11u1),
 libgstreamer1.0-0 (>=1.18.4-2.1),
 libgstreamer-plugins-base1.0-0 (>=1.18.4-2),
 xfonts-100dpi,
 xterm,
 libmariadb3 (>=1:10.5.12-0+deb11u1)
Replaces: pwr50,pwr51,pwr52,pwr53,pwr54,pwr55,pwr56,pwr57,pwr58,pwr59,pwr60
Maintainer: Proview <postmaster@proview.se>
Description:
 6.1.4-1 Base release
 6.1.4-2
   - Bugfix in Ge axis for enumerations.
   - Zigbee module common structfile fix.
   - Javascript bugfix for Ge rounded rectangle.
   - Javascript bugfix for animation dynamics.
