Package: pwrdemo60
Version: 6.0.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: pwr60 (>= 6.0.0-1)
Replaces:
Maintainer: ProviewR <postmaster@proview.se>
Description: ProviewR Demo Project package
 6.0.0-1 Base release
