Package: pwrdemo61
Version: 6.1.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: pwr61 (>= 6.1.0-1)
Replaces:
Maintainer: ProviewR <postmaster@proview.se>
Description: ProviewR Demo Project package
 6.1.0-1 Base release
