Package: pwrrpi64
Version: 7.0.0-1
Section: base
Priority: optional
Architecture: amd64
Depends: pwr (>= 7.0.0-1)
Replaces: pwr,pwrrpi6461
Maintainer: ProviewR <postmaster@proview.se>
Description: ProviewR RPI development package
 7.0.0-1 Base release
